::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 20%;
  border: 1px solid #110f0f;
  margin-bottom: 10px;
}